{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Gym Fenix</title>
    <link rel="stylesheet" href="{% static 'core/css/estile.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/galeria.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/equipo.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/contacto.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/nuestroEquipo.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/clases.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/detalles.css' %}">
    
    
    

</head>
<body>

  <!--Header-->
    

  <nav style="background-color: #090605;" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img style="width: 10%; height: 10%;" class="logo-header" src="{% static 'core/img/222.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="{% static 'core/img/icono-menu.png' %}" alt=""></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'clases' %}">Clases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sinServicio' %}">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sinServicio' %}">Galeria</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>

  
  


  <!-- Header Section Begin -->

                <div class="to-social">
                    <a style="background-color: blue;" class="icon icon-facebook" href="#"><img src="{% static 'core/img/icono-face.png' %}" alt=""></a>
                    <a class="icon icon-instagram" target="_blank" href="https://www.instagram.com/fenix_centro_de_entrenamiento/"><img src="{% static 'core/img/icono-insta.png' %}" alt=""></a>
                    <a class="icon icon-tiktok" href="#"><img src="{% static 'core/img/icono-tiktok.png' %}" alt=""></a>
                    <a class="icon icon-whatsapp" href="#"><img src="{% static 'core/img/icono-whatsapp.png' %}" alt=""></a>
                </div>
       
     
 
  <!-- Header End -->

  
    {% block content %}
    
    {% endblock %}  

    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i><img src="{% static 'core/img/icono-aqui.png' %}" alt=""></i>
                        <p>inserte una calle<br/> numero de local</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i><img src="{% static 'core/img/icono-telefono.png' %}" alt=""></i>
                        <ul>
                            <li>11111111</li>
                            <li>11111111</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i><img src="{% static 'core/img/icono-correo.png' %}" alt=""></i>
                        <p>CorreoGymFenix@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Footer Section Begin -->
     <section class="footer-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <div class="fs-about">
                      <div class="logo-footer">
                          <a href="{% url 'index' %}"><img style="width: 75%; height: 75%;" src="{% static 'core/img/444.png' %}" alt=""></a>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore dolore magna aliqua endisse ultrices gravida lorem.</p>
                      <div class="fa-social">
                          <a href="#"><img src="{% static 'core/img/icono-face.png' %}" alt=""></a>
                          <a target="_blank" href="https://www.instagram.com/fenix_centro_de_entrenamiento/"><img src="{% static 'core/img/icono-insta.png' %}" alt=""></a>
                          <a href="#"><img src="{% static 'core/img/icono-tiktok.png' %}" alt=""></a>
                          <a href="#"><img src="{% static 'core/img/icono-whatsapp.png' %}" alt=""></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6">
                  <div class="fs-widget">
                      <h4>Useful links</h4>
                      <ul>
                          <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                          <li><a href="{% url 'sinServicio' %}">Galería</a></li>
                          <li><a href="{% url 'clases' %}">Clases</a></li>
                          <li><a href="{% url 'contacto' %}">Contacto</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6">
                  <div class="fs-widget">
                      <h4>Support</h4>
                      <ul>
                          <li><a href="{% url 'contacto' %}">Contacto</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="fs-widget">
                      <h4>Tips & Guías</h4>
                      <div class="fw-recent">
                          <h6><a href="#">La aptitud física puede ayudar a prevenir la depresión y la ansiedad.</a></h6>
                      </div>
                      <div class="fw-recent">
                          <h6><a href="#">Fitness: El mejor ejercicio para perder grasa abdominal y tonificar ..</a></h6>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="copyright-text">
                      <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.instagram.com/_eddieh._/" target="_blank">Edgard.Ch</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Footer Section End -->

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>