div.img {
    margin: 5px;
    float: left;
    width: 30%;
}

div.img img {
    width: 100%;
    height: auto;
}

.gallery-section .img img{
    margin-left: 10%;
}

.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	font-size: 16px;
	color:  #63c3db ;
	text-transform: uppercase;
	font-weight: 700;
}

.section-title h2 {
	color: #ffffff;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 8px;
}
